/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.board {
  width: 816px;
  height: 816px;
  border: solid;
  border-width: 5px;
}

.tile {
  position: relative;
  float: left;
  width: 98px;
  height: 98px;
  border: solid;
  border-width: 2px;
}

.tile img {
  padding: 15px;
}

.tile:nth-child(16n+2) {
  background-color: grey;
}

.tile:nth-child(16n+4) {
  background-color: grey;
}

.tile:nth-child(16n+6) {
  background-color: grey;
}

.tile:nth-child(16n+8) {
  background-color: grey;
}

.tile:nth-child(16n+9) {
  background-color: grey;
}

.tile:nth-child(16n+11) {
  background-color: grey;
}

.tile:nth-child(16n+13) {
  background-color: grey;
}

.tile:nth-child(16n+15) {
  background-color: grey;
}

.occupied-white:hover {
  background-color: yellow;
}

.highlighted:nth-child(n) {
  background-color: green;
}

.selected:nth-child(n) {
  background-color: red;
}

.new-game-button {
  position: relative;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  font-size: 20px;
}
